/* Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
    font-family: inherit;
}

/* Text */

body {
    font-family: 'Work Sans', sans-serif;
    line-height: 1.2;
}

h1 {
    letter-spacing: 0;
    line-height: 1;
    font-size: 34px;
}

h2 {
    font-weight: 500;
}

p {
    font-size: 20px;
    font-weight: 300;
}

.txt-c {
    text-align: center;
}

/* Display */

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.g-35 {
    gap: 35px;
}

.g-80 {
    gap: 80px;
}

.ag-c {
    align-items: center;
}

.jus-c {
    justify-content: center;
}

/* Colors */

.c-gray {
    color: #333333;
}

/* Padding */

.pad-50 {
    padding: 50px;
}
/* Misc */

.lg-hide, 
.sm-hide {
    display: none;
}

/* General queries */

@media screen and (min-width: 704px) {
    h1 {
        font-size: 50px;
    }
}

/* Header */

header {
    padding: 0 40px;
    height: 80px;
}

.logo {
    position: relative;
}

.logo-img {
    object-fit: contain;
    width: 100px;
    height: 38px;
    margin-right: 25px;
}

.logo-dev {
    position: absolute;
    top: -12px;
    left: 93px;
    font-size: 20px;
}

.h-img {
    width: 24px;
    height: 24px;
}

.nav-btn {
    color: #1199EE;
    font-size: 24px;
}

.h-link {
    white-space: nowrap;
}

/* header default */

.logo {
    width: 100%;
}


/* header small */
@media screen and (max-width: 704px) {
   .h-hide {
        display: none;
    }

    .lg-hide {
        display: block;
    }

    .g-80 {
        gap: 40px;
    }

    header {
        justify-content: space-between;
        :last-child {
                order: -1;
            }
    } 

    .logo {
        width: fit-content;
    }

    .logo-img {
        height: 34px;
        width: 90px;
    }

    .logo-dev {
        font-size: 14px;
        top: -8px;
        left: 87px;
    }
}

/* Banner */

.banner {
    background-image: url("https://images.unsplash.com/photo-1611517975989-c5882f8d2cf1?auto=format&fit=crop&q=80&w=3270&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    height: calc(100vh - 80px);
    position: relative;
}

.over-blue {
    position: absolute;
    inset: 0;
    background-color: #1199EE;
    opacity: 0.95;
    padding: 50px 20px;
}

.btn-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.main-btn {
    background-color: white;
    width: 200px;
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 18px;
    &.black {
        background-color: black;
        color: white;
    }
}

/* banner medium (and large) */

@media screen and (min-width: 600px) {
    .sm-hide {
        display: block;
    }
    .over-blue {
        padding: 50px 150px;
    }
    .over-blue p {
        max-width: 926px;
    }
}

/* blog */

.card {
    min-height: 360px;
    flex: 1 1 350px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 2px 2px 10px -5px #777777;
    padding: 30px 30px 50px 30px;
    cursor: pointer;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.name {
    font-size: 18px;
    font-weight: 500;
}

.x-info {
    font-size: 14px;
}

.more-btn {
    color: #1199EE;
    font-weight: 500;
    font-size: 24px;
    display: flex;
    align-items: center;
}

.btn-arrow {
    font-size: 17px;
    -webkit-text-stroke: 0.5px #1199EE;
    margin-left: 15px;
}